.my-image-carousel {
    object-fit: cover; 
    object-position: 0 80%;
    height: 400px;
  }
  
.font-title {
  font-family: 'Pacifico', cursive;
}

.color-title {
  color: darkred;
}

.color-button {
  background-color: darkred;
  color: white;
}

.color-border{
  border-color: darkred;
}

.position-image-card {
  object-fit: cover; 
  object-position: 0 80%;
  height: 200px;
}

.width-card {
  width: 18rem;
}